<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="main/main.css">
    <link rel="stylesheet" href="main/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>

<body>
    <header>
        <div>
            <a href="main.html" th:href="@{main}"><h1>THE HOTEL</h1></a>
        </div>
        <section class="head">
            <ul>
                <li><a href="hotelinfo.html" th:href="@{/hotelinfo}">호텔 정보</a></li>
            </ul>
            <ul>
                <li><a href="roominfo.html" th:href="@{/roominfo}">객실 정보</a></li>
            </ul>
            <ul>
                <th:block th:if="${session.member == null}">
        				<li><a th:href="@{/login}">로그인</a></li>
    				</th:block>
    				<th:block th:if="${session.member != null}">
        				<li><a class="login_id" th:href="@{/memberdetail}">[[${session.member.name}]] </a><span>님 환영합니다</span></li>
				            <li><a th:href="@{/logout}">로그아웃</a></li>
    				</th:block>
            </ul>
            <ul>
                <li><a href="" th:href="@{/reservation/reservationList}">예약 확인</a></li>
            </ul>
            <ul>
                <li><a href="map.html" th:href="@{/map}">오시는 길</a></li>
            </ul>
            <ul>
                <li><a href="qna.html" th:href="@{/question/list}">Q & A</a></li>
            </ul>
        </section>
    </header>
    <hr>
       <section>
        <div class="slick">
            <div class="slick-wrap">
                <img src="main/호텔사진1.jpg" alt="배너1">
            </div>
            <div class="slick-wrap">
                <img src="main/호텔사진2.jpg" alt="배너2">
            </div>
            <div class="slick-wrap">
                <img src="main/호텔사진3.jpg" alt="배너3">
            </div>
        </div>
    </section>
    <footer>
        <section>
            <p>
                <h4>About Hotel</h4>
            </p>
            <p>
                <h2>Relax in City<br>
                    The Hotel</h2>
            </p>
            <p>
                <h4>편안한 휴식과 고급스러움<br>피로에 물든 당신을 위해</h4>
            </p>
        </section>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slick').slick({
                autoplay: true, // 자동 스크롤 사용 여부
                autoplaySpeed: 2000, // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
                arrows : false
            });
        });
    </script>
</body>