table{
	width:100%;
	border-top:1px solid #55cc55;
	border-collapse: collapse;
}

th, td { 
	border-bottom : 1px,solid #3366cc;
	padding: 10px;
	text-align: center;
	font-size: 10px;
}

textarea {
	width:100%;
	background:yellow;
}

input[type=submit]{
	margin-top:10px;
}



