<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
     <link rel="stylesheet" href="/question/question_create.css">
    <link rel="stylesheet" href="../main/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
</head>

<body>
     <header>
        <div>
            <a href="main.html" th:href="@{/main}"><h1>THE HOTEL</h1></a>
        </div>
        <section class="head">
            <ul>
                <li><a href="hotelinfo.html" th:href="@{/hotelinfo}">호텔 정보</a></li>
            </ul>
            <ul>
                <li><a href="roominfo.html" th:href="@{/roominfo}">객실 정보</a></li>
            </ul>
            <ul>
                <th:block th:if="${session.member == null}">
        				<li><a th:href="@{/login}">로그인</a></li>
    				</th:block>
    				<th:block th:if="${session.member != null}">
        				<li><a class="login_id" th:href="@{/memberdetail}">[[${session.member.name}]] </a><span>님 환영합니다</span></li>
				            <li><a th:href="@{/logout}">로그아웃</a></li>
    				</th:block>
            </ul>
            <ul>
                <li><a href="" th:href="@{/reservation/reservationList}">예약 확인</a></li>
            </ul>
            <ul>
                <li><a href="map.html" th:href="@{/map}">오시는 길</a></li>
            </ul>
            <ul>
                <li><a href="qna.html" th:href="@{/question/list}">Q & A</a></li>
            </ul>
        </section>
    </header>
    <hr>
   <h2>질문하기</h2>
    <section class="body">
        <form th:action="@{/question/create}" th:object="${questionCreate}" th:method="post">
		<p class="id">
    	아이디:<span th:text="${member.id}"></span>
		</p>
    	<p>
        <label for="title">제목: </label>
        <input type="text" id="title" th:field="*{title}"><br>
		</p>
		
		<p>
        <label for="content">내용: </label>
        <input type="text" id="content" th:field="*{content}"><br>
        </p>
       
       	<button  type="submit">글쓰기</button>
    </form>
    </section>

</body>

</html>